<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.story">

    <application
        android:allowBackup="true"
        android:icon="@drawable/asl"
        android:label="@string/app_name"
        android:roundIcon="@drawable/yellow"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ForTest"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
        </activity>
        <activity
            android:name=".myNote"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".splashScreen"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
        </activity>
        <activity
            android:name=".dastanha.Story10"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".dastanha.Story9"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".dastanha.Story8"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".dastanha.Story7"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".dastanha.Story6"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".dastanha.Story5"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".dastanha.Story4"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".dastanha.Story3"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".dastanha.Story2"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity android:name=".setting.setAll" />
        <activity
            android:name=".dastanha.Story1"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>